<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>时间轴</title>

<link href="../stylesheets/style1.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../javascripts/jquery1.10.2.js"></script>
<script type="text/javascript">
$(function(){
	
	//首页大事记
	$('.course_nr2 li').hover(function(){
		$(this).find('.shiji').slideDown(600);
	},function(){
		$(this).find('.shiji').slideUp(400);
	});
	
});
</script>

</head>

<body>

<div class="clearfix course_nr">
	<ul class="course_nr2">
		<li>
			简介
			<div class="shiji">
				<h1>简介</h1>
				<p>黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖黄朝晖</p>
			</div>
		</li>
		<li>
			兴趣
			<div class="shiji">
				<h1>兴趣</h1>
				<p>把空间哈佛开发理工科啊； 领导搞好科技卡号空城计啊规划；啊交话费；客户关怀下班好贵；</p>
			</div>
		</li>
		<li>
			职业
			<div class="shiji">
				<h1>职业</h1>
				<p>内容描述3</p>
			</div>
		</li>
		<li>
			历程
			<div class="shiji">
				<h1>历程</h1>
				<p>历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程历程</p>
			</div>
		</li>
	</ul>
</div>


</body>
</html>
